@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="container">
    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2" for="User">UserName:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="UserName" placeholder="Enter your UserName" onchange="UserCheck()" />
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2" "></label>
            <div class="col-sm-10">
                <p id="Status"></p>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="User">Password:</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" id="Password" name="Password" placeholder="Enter your Password" />
            </div>

        </div>
    </div>
</div>

@* script post jquery *@
<script type="text/javascript" src="@Url.Content("~/Asset/Scripts/checkName.js")"></script>




@* "@Url.Action("CheckUserNameAvailablity", "Home")",*@

@*<script>
        function UserCheck() {
            $("#Status").html("Checking...");

            $.post(
                "/Home/CheckUserNameAvailablity",

                {
                    //userdata: $("#UserName").val()
                },
                function (data) {
                    if (data == false) {
                        $("#Status").html('<font color="Green">Available! You can take it </font>')
                        $("#UserName").css("border-coler", "Green");
                    }
                    else {
                        $("#Status").html('<font color="Red">This name is taken, Try another  </font>')
                        $("#UserName").css("border-coler", "Red");
                    }
                }

            )
        }
    </script>*@